{{ ansible_managed | comment }}
charon {
    filelog {
        charon_log {
            append = yes
            default = 0
            flush_line = yes
            ike_name = yes
            path = {{ charon_filelog }}
            time_add_ms = yes
            time_format = %b %e %T
        }
    }

    syslog {
    }
}

